.card{
  width:380px;
  height: 270px;
  border: 2px solid black;
  cursor: pointer;
  
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  margin:40px;
}
.description{
  margin:0 auto;
  width:300px;
  height:40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.page-box{
  width:40px;
  height:40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.page-container{
  display: grid;
  width:600px;
  place-items:center;
  grid-template-columns:repeat(12,1fr);
  gap:0px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.product-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
}
.detail-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}